node_modules
.next
out
build
dist

# env
.env
.env.local

# database
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal

# uploads (receipt images stored on local disk in dev)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
.DS_Store
*.log
next-env.d.ts
.vercel
.tsbuildinfo
